<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" media="screen,projection"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css"
          integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
    <title>RG - Админ.Панель</title>
</head>
<body>

<header>
    <nav class="blue-grey lighten-1">
        <div class="nav-wrapper container ">
            <a href="/" class="brand-logo">RomanGroup</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class=""><a href="/admin/news">СТАТЬИ</a></li>
                <li class="active"><a href="/admin/projects">ПРОЕКТЫ</a></li>
                <li><a href="/admin/social">СОЦ. СЕТИ</a></li>
                <li><a href="/admin/secure">БЕЗОПАСНОСТЬ</a></li>
                <li><a href="/admin/mail">СООБЩЕНИЯ</a></li>
                <li><a href="/admin/logout"><i class="material-icons right">exit_to_app</i>ВЫХОД</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav collection with-header" id="mobile-demo">
        <li class="collection-header"><h4 class="blue-grey-text">RomanGroup</h4></li>
        <li class="collection-item"><a href="/" class="collection-item blue-grey-text">ГЛАВНАЯ</a></li>
        <li class="collection-item"><a href="/admin/news" class="collection-item blue-grey-text">СТАТЬИ</a></li>
        <li class="collection-item blue-grey"><a href="/admin/projects" class="white-text">ПРОЕКТЫ</a></li>
        <li class="collection-item"><a href="/admin/social" class="collection-item blue-grey-text">СОЦ. СЕТИ</a></li>
        <li class="collection-item"><a href="/admin/secure" class="collection-item blue-grey-text">БЕЗОПАСНОСТЬ</a></li>
        <li class="collection-item"><a href="/admin/mail" class="collection-item blue-grey-text">СООБЩЕНИЯ</a></li>
        <li class="collection-item"><a href="/admin/logout" class="collection-item blue-grey-text">ВЫХОД</a></li>
    </ul>
</header>

<main class="content container">

    <section class="section">

        <h4 class="center-align"><b>НАШИ ПРОЕКТЫ</b></h4>
        {{ $csrf := .csrfField }}
        {{ range .pl.ProjectList }}
            <div class="row" style="margin-top: 2rem;">
                <div class="col s12 m8 l9">
                    <div class="card">
                        <div class="card-image">
                            <img class="responsive-img materialboxed" src="/{{ .Images }}">
                        </div>
                        <div class="card-content">
                            <h5><b>{{ .Name }}</b></h5>
                            <p>{{ .Description }}</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4 l3">
                    <div class="card-panel" style="display: flex; flex-flow: column;">
                        <div class="row" style="margin-top: 2rem;"><a href="/projects/{{ .Id }}"
                                                                      class="btn blue-grey col s12 m12 l12">открыть</a>
                        </div>
                        <div class="row" style=""><a href="/admin/projects/{{ .Id }}/edit"
                                                     class="btn orange col s12 m12 l12">редактровать</a></div>
                        <div class="row" style="">
                            <form action="/admin/projects/delete" method="post"><input type="hidden" name="id"
                                                                                       value="{{ .Id }}">
                                <button onclick="return confirm('Вы уверены что хотите удалить?')"
                                        class="btn waves-light materialize-red col s12 m12 l12">удалить
                                </button>{{ $csrf }}</form>
                        </div>
                    </div>
                </div>
            </div>

        {{ end }}


        {{/*        <div class="row z-depth-1-half" style="margin-top: 2rem;">*/}}
        {{/*            <div class="col s12">*/}}
        {{/*                <div class="row">*/}}
        {{/*                    <div class="col s12 m6 l4">*/}}
        {{/*                        <img src="https://picsum.photos/300/200" class="materialboxed responsive-img" alt="">*/}}
        {{/*                    </div>*/}}
        {{/*                    <div class="col s12 m6 l5">*/}}
        {{/*                        <h5><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</b></h5>*/}}
        {{/*                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur at aut, beatae cum*/}}
        {{/*                            cumque dignissimos doloremque harum, illo ipsa labore necessitatibus quaerat quidem quis, quos*/}}
        {{/*                            voluptas voluptatum. Architecto, quidem?</p>*/}}
        {{/*                        <div class="right-align">*/}}
        {{/*                            <span><b>12.09.2017</b></span>*/}}
        {{/*                        </div>*/}}
        {{/*                    </div>*/}}
        {{/*                    <div class="col s12 m12 l3" style="padding: 2rem;">*/}}
        {{/*                        <div class="row" style="margin-top: 2rem;"><a href="#" class="btn btn-small blue-grey col s12">открыть</a></div>*/}}
        {{/*                        <div class="row" ><a href="#" class="btn-small orange col s12">редактровать</a></div>*/}}
        {{/*                        <div class="row" ><a href="#" class="btn-small materialize-red col s12">удалить</a></div>*/}}
        {{/*                    </div>*/}}
        {{/*                </div>*/}}
        {{/*            </div>*/}}
        {{/*        </div>*/}}


    </section>

    <div class="divider"></div>
    {{ if .pl.ProjectList }}
    <div class="row center-align">
        <ul class="pagination">
            <li><a {{ if ne .pagination.CurrentPage 1}}href="/admin/projects/page=1"{{end}} style="cursor: pointer;">Первая</a>
            </li>
            <li class="waves-effect"><a {{if .pagination.HasPrev }}href="/admin/projects/page={{.pagination.PrevPage}}"{{ end }}
                   style="cursor: pointer;"><i class="material-icons">chevron_left</i></a></li>
            {{ $current := .pagination.CurrentPage}}
            {{ range .pagination.PageList }}
            {{ if eq $current . }}

                <li class="blue-grey active"><a href="/admin/project/page={{ . }}">{{ . }}</a></li>
            {{ else }}
                <li class="waves-effect"><a href="/admin/project/page={{ . }}">{{ . }}</a></li>

            {{ end }}

            {{end }}

            <li class="waves-effect"><a style="cursor: pointer;"
                                        {{ if .pagination.HasNext }}href="/admin/projects/page={{ .pagination.NextPage}}"{{end}}><i
                            class="material-icons">chevron_right</i></a></li>
            <li><a style="cursor: pointer;"
                   {{ if ne .pagination.CurrentPage .pagination.TotalPage }}href="/admin/projects/page={{ .pagination.TotalPage }}"{{end}}>Последняя</a>
            </li>
        </ul>
    </div>
    {{ end }}



    <div class="fixed-action-btn">
        <a href="/admin/projects/add" class="btn-floating btn-large blue-grey hoverable">
            <i class="large material-icons">add</i>
        </a>
    </div>

</main>


<footer class="page-footer blue-grey">
    <div class="footer-copyright">
        <div class="container center-align">
            © 2019 RomanGroup
        </div>
    </div>
</footer>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/static/js/materialize.min.js"></script>

</body>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
        var elems_sidenav = document.querySelectorAll('.sidenav');
        var sidenav = M.Sidenav.init(elems_sidenav, {});

        var elems_materialboxed = document.querySelectorAll('.materialboxed');
        var materialboxed = M.Materialbox.init(elems_materialboxed, {});

        var elems_fab = document.querySelectorAll('.fixed-action-btn');
        var fab = M.FloatingActionButton.init(elems_fab, {});

    });


</script>
</html>